@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-box {
  width: 300px;
  height: 300px;
  display: flex;
  font-size: 1.8rem;
  border-radius: 2px;
  align-items: center;
  margin-bottom: 0.5em;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  box-shadow: 4px 4px 2px 0 gray;
}

input {
  width: 300px;
  padding: 0.5em;
  border-radius: 2px;
  border: 2px solid black;
  box-shadow: 4px 4px 2px 0 gray;
}

label {
  left: -9999999px;
  position: absolute;
}

button {
  width: 300px;
  color: white;
  padding: 0.5em;
  cursor: pointer;
  margin-top: 0.5em;
  font-size: 0.8rem;
  border-radius: 2px;
  letter-spacing: 2px;
  background-color: teal;
  transition: 0.2s all ease-out;
  box-shadow: 4px 4px 2px 0 gray;
}
button:hover {
  background-color: rgb(0, 190, 190);
}
button:active {
  transform: scale(0.95);
}

form {
  display: flex;
  flex-direction: column;
}
